@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #000;
  color: #fff;
}

p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: bold;
}

img {
  width: 300px;
  height: 200px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.successful-message {
  background-color: #70e000;
  color: #fff;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  font-size: 1rem;
}

.error-message {
  background-color: #c1121f;
  color: #fff;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  font-size: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #c1121f;
  padding: 1.4rem;
  border-radius: 15px;
  font-size: 1.4rem;
  max-width: 300px;
  border: none;
}

.btn-primary:hover {
  background-color: #780000;
}

.main-container {
  width: 85%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  /* background-color: black; */
  align-items: center;
  position: relative;
}

.header .header-logo {
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;

}

.header a:hover {
  color: #c1121f;
}

.header button {
  border: none;
  border-radius: 15px;
  padding: 0.8rem 1.4rem;
  background-color: blue;
  color: #fff;
  font-size: 1.2rem;
}

.header .header-nav {
  width: 80%;
  text-align: center;
}

.header .header-nav a {
  margin: 0 1.5rem;
  font-size: 1.2rem;
}

/* Hero */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
  url("./assets/imgs/main-hero.jpg") 
  no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  text-align: left;
}

.hero .hero-content {
  height: 89vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero .hero-content h1 {
  color: #fff;
  font-size: 3.5rem;
  width: 60%;
  line-height: 5rem;
}

.hero .hero-content a {
  width: 25%;
  text-align: center;
}

/* Contact */

.contact-container .contact-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto;  
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3rem auto;
  align-items: center;
}

.contact-form input {
  margin: 1rem;
  height: 2.5rem;
  width: 50%;
  border-radius: 15px;
  text-align: center;
  border: none;
  font-size: 1.1rem;
}

.contact-form textarea {
  margin: 1rem;
  margin-bottom: 2rem;
  height: 10rem;
  width: 50%;
  border-radius: 15px;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.contact-form button {
  width: 30%;
  padding: 0.8rem;
  margin: 2rem auto;
  font-size: 1.2rem;
  margin: auto;
}

/* Service */

.home-service-container {
  width: 65%;
  margin: auto;
  text-align: center;
}

.home-service-container h3 {
  font-size: 3rem;
  /* color: #c1121f; */
  font-weight:900;
}

.home-service-container p {
  margin: 1.5rem 0;
}

.home-service-container .service-img,
.service-container .service-img,
.review-container .review-img
 {
  height: 350px;
  width: 500px;
  object-fit: cover;
  object-position: center center;
  align-self: center;
  border-radius: 5px;
  margin: 2rem;
}

.service-container .images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Process */

.process-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.process-container .process-item {
  margin: auto;
  margin-top: 3rem;
  width: 60%;
  height: 200px;
  display: flex;
  align-items: center;
}

.process-container .process-item p {
  margin: 1.5rem;
  font-size: 3rem;
}

.process-container .initial {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
  url("./assets/imgs/consultation.jpg") 
  no-repeat center center/cover;
  justify-content: end;
}

.process-container .layout {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
  url("./assets/imgs/layout.jpg") 
  no-repeat center center/cover;
}

.process-container .documents {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
  url("./assets/imgs/documents.jpg") 
  no-repeat center center/cover;
  justify-content: end;
}

.process-container .material {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
  url("./assets/imgs/material.jpg") 
  no-repeat center center/cover;
}

.process-container .construction {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
  url("./assets/imgs/construction.jpg") 
  no-repeat center center/cover;
  justify-content: end;
}

.process-container .walkthrough {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
  url("./assets/imgs/walkthrough.jpg") 
  no-repeat center center/cover;
}

.process-container .cleaning {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
  url("./assets/imgs/cleaning.jpg") 
  no-repeat center center/cover;
  justify-content: end;
}

.process-container .celebrate {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
  url("./assets/imgs/celebrate.jpg") 
  no-repeat center center/cover;
}

.review-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.review-container h2 {
  font-size: 3rem;
  margin: 1.7rem auto;
}

.review-container h3 {
  font-size: 1.7rem;
  margin-bottom: 1.4rem;
}

.review-container p {
  margin-bottom: 1.4rem;
}

.review-container .images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.review-container .review-img {
  width: 300px;
  height: 250px;
}

/* Footer */

.footer {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.footer p {
  font-size: 1rem;
}